<template>
  <section class="section">
    <slot />
  </section>
</template>

<script>
export default {
  name: 'TheSection',
}
</script>

<style lang="scss">
@import '~vuetify/src/styles/styles.sass';

.section {
  margin: 80px 0;

  @media #{map-get($display-breakpoints, 'md-and-up')} {
    margin: 160px 0;
  }

  &:first-of-type {
    margin-top: 0;
  }
}
</style>
