<template>
  <div class="all-projects">
    <h1 class="mb-14 primary--text">Projects</h1>
    <the-project
      v-for="project in projects"
      :project="project"
      :key="project.id"
    ></the-project>
  </div>
</template>

<script>
import projects from '@/data/projects'

export default {
  head: {
    title: 'Projects',
  },
  layout: 'works',
  data() {
    return {
      projects: projects,
    }
  },
}
</script>
