<template>
  <article class="design">
    <div class="image d-flex justify-center justify-md-start mb-3 mb-md-0">
      <img
        :src="image"
        :alt="design.name + ' Preview'"
        loading="lazy"
        class="design-preview"
      />
      <svg
        class="connector"
        viewBox="0 0 588 150"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M572 8C572 12.4183 575.582 16 580 16C584.418 16 588 12.4183 588 8C588 3.58172 584.418 0 580 0C575.582 0 572 3.58172 572 8ZM119.153 79.4121L119.17 77.9122L119.169 77.9122L119.153 79.4121ZM1.40021e-09 142C1.40021e-09 146.418 3.58172 150 8 150C12.4183 150 16 146.418 16 142C16 137.582 12.4183 134 8 134C3.58172 134 1.40021e-09 137.582 1.40021e-09 142ZM578.502 7.92245C577.901 19.5357 572.066 34.0146 556.274 45.9091C540.459 57.8203 514.57 67.2002 473.801 68.3412L473.885 71.3401C515.044 70.1881 541.609 60.71 558.079 48.3054C574.571 35.884 580.85 20.5891 581.498 8.07755L578.502 7.92245ZM473.801 68.3412C391.813 70.6359 203.225 78.8672 119.17 77.9122L119.136 80.912C203.267 81.8678 392.016 73.6314 473.885 71.3401L473.801 68.3412ZM119.169 77.9122C97.3045 77.6732 71.6687 78.618 50.2545 87.0975C28.7194 95.6249 11.4469 111.785 6.51987 141.757L9.48013 142.243C14.2124 113.456 30.6604 98.0829 51.359 89.8868C72.1784 81.6428 97.2894 80.6732 119.136 80.912L119.169 77.9122Z"
        />
      </svg>
    </div>
    <div class="information d-flex flex-column">
      <header class="name mb-4 d-flex justify-space-between">
        <h2 class="text-h5 font-weight-bold">{{ design.name }}</h2>
        <div>
          <v-btn
            class="preview-btn"
            v-if="design.preview"
            :href="design.preview"
            :title="design.name + ' Preview'"
            outlined
            text
            target="_blank"
            >Preview
          </v-btn>
        </div>
      </header>
      <div class="description text--disabled mb-3">
        {{ design.description | truncate(400, '...') }}
      </div>
    </div>
  </article>
</template>

<style lang="scss">
@import '~vuetify/src/styles/styles.sass';

.design {
  transition-duration: 0.28s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all;
  position: relative;
  margin-bottom: 48px;

  @media #{map-get($display-breakpoints, 'md-and-up')} {
    display: flex;
    justify-content: space-between;
    margin-bottom: 164px;
  }

  &:nth-of-type(odd) {
    flex-direction: row-reverse;

    .preview-btn {
      margin-right: 24px;
    }

    .image {
      .design-preview {
        @media #{map-get($display-breakpoints, 'md-and-up')} {
          margin-left: 32px;
          margin-right: 0;
        }
      }
    }
  }

  &:nth-of-type(even) {
    .connector {
      transform: rotateY(180deg);
      left: initial;
      right: -37%;
    }
  }

  &:last-of-type {
    margin-bottom: 16px;

    .connector {
      display: none;
    }
  }

  &:hover {
    .theme--light & .design-preview {
      box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
        0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    }

    .theme--dark & .design-preview {
      box-shadow: 0px 5px 5px -3px rgb(255 255 255 / 20%),
        0px 8px 10px 1px rgb(255 255 255 / 14%),
        0px 3px 14px 2px rgb(255 255 255 / 12%);
    }

    header {
      h2 {
        &:before {
          content: '';
          width: 50px;
          height: 2px;
          position: absolute;
          bottom: 0;
          background-color: var(--v-accent-base);
        }
      }
    }
  }

  header {
    h2 {
      position: relative;

      &:before {
        content: '';
        width: 0;
        position: absolute;
        transition-duration: 0.28s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: all;
      }
    }
  }

  .preview-btn {
    margin-left: 24px;
  }

  .image {
    position: relative;

    .design-preview {
      z-index: 1;
      border-radius: 12px;
      width: 100%;
      transition-duration: 0.28s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: all;
      margin-bottom: 24px;
      aspect-ratio: 500 / 303;
      object-fit: cover;

      @media #{map-get($display-breakpoints, 'sm-and-up')} {
        width: 500px;
      }

      @media #{map-get($display-breakpoints, 'md-and-up')} {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 32px;
      }

      @media #{map-get($display-breakpoints, 'lg-and-up')} {
        width: 637px;
      }
    }
  }

  .connector {
    z-index: 0;
    position: absolute;
    left: -55%;
    right: 0;
    top: 103%;
    fill: var(--v-primary-base);
    opacity: 0.6;
    height: 138px;
    margin: auto;
    display: none;
    transition-duration: 0.28s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: all;

    @media #{map-get($display-breakpoints, 'md-and-up')} {
      display: block;
    }
  }
}
</style>

<script>
export default {
  name: 'TheDesign',
  props: {
    design: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {}
  },
  computed: {
    image() {
      if (!this.design.image) return

      return require(`~/assets/designs/${this.design.image}`)
    },
  },
}
</script>
