<template>
  <the-section id="designs" style="min-height: 450px">
    <h2 class="text-h4 primary--text font-weight-bold mb-14">
      Some of my designs
    </h2>

    <div class="designs">
      <the-design
        v-for="design in designs"
        :key="design.id"
        :design="design"
      ></the-design>

      <div
        class="d-flex justify-center mt-8"
        v-if="allDesigns.length > highlightCount"
      >
        <v-btn to="designs" outlined color="accent"> View All </v-btn>
      </div>
    </div>
  </the-section>
</template>

<script>
import designs from '@/data/designs'

export default {
  data() {
    return {
      highlightCount: 2,
      allDesigns: designs,
      designs: designs.filter((el) => el.highlight === true),
    }
  },
}
</script>
