<template>
  <article class="project d-flex pa-4 mb-4 flex-column flex-sm-row">
    <div class="project-line"></div>
    <div
      class="image mr-sm-4 d-flex justify-center justify-sm-start mb-3 mb-sm-0"
    >
      <img :src="image" :alt="project.name + ' Preview'" loading="lazy" />
    </div>
    <div class="information d-flex flex-column">
      <header class="name mb-4 d-flex justify-space-between">
        <h2 class="text-h5 font-weight-bold">{{ project.name }}</h2>
        <div>
          <v-btn
            v-if="project.code"
            :href="project.code"
            :title="project.name + ' Source Code'"
            outlined
            text
            target="_blank"
            >Code
          </v-btn>
          <v-btn
            v-if="project.demo"
            :href="project.demo"
            :title="project.name + ' Live Demo'"
            outlined
            text
            target="_blank"
            >Demo
          </v-btn>
        </div>
      </header>
      <div class="description text--disabled mb-3">
        {{ project.description | truncate(200, '...') }}
      </div>
      <section class="tech-stack mt-auto">
        <v-btn
          color="primary"
          outlined
          v-for="tech in project.techStack"
          :key="tech.name"
          class="mr-3 mb-3"
          :href="tech.url"
          target="_blank"
          :title="tech.name"
          >{{ tech.name }}
        </v-btn>
      </section>
    </div>
  </article>
</template>

<script>
export default {
  name: 'TheProject',
  props: {
    project: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {}
  },
  computed: {
    image() {
      if (!this.project.image) return

      return require(`~/assets/projects/${this.project.image}`)
    },
  },
}
</script>

<style lang="scss">
@import '~vuetify/src/styles/styles.sass';

.project-line {
  position: absolute;
  left: -42px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  display: none;

  @media #{map-get($display-breakpoints, 'md-and-up')} {
    display: initial;
  }

  .project:last-of-type &::before {
    display: none;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    background-color: var(--v-accent-base);
    border-radius: 100%;
  }

  &::before {
    content: '';
    background: var(--v-accent-base);
    width: 3px;
    height: 110%;
    position: absolute;
    top: 50%;
    left: 9px;
    margin: auto;
  }
}

.project {
  border: 2px solid transparent;
  border-radius: 12px;
  text-decoration: none;
  transition-duration: 0.28s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all;
  position: relative;

  @media #{map-get($display-breakpoints, 'md-and-up')} {
    display: initial;
    margin-left: 60px;
  }

  &:hover {
    border-color: var(--v-primary-base);
  }

  .image img {
    border-radius: 12px;
    margin-bottom: 24px;
    width: 250px;
    aspect-ratio: 500 / 356;
    object-fit: cover;

    @media #{map-get($display-breakpoints, 'sm-and-up')} {
      width: 200px;
    }

    @media #{map-get($display-breakpoints, 'md-and-up')} {
      width: 300px;
      margin-bottom: 0;
    }
  }

  .information {
    flex-grow: 1;
  }
}
</style>
