<template>
  <the-section id="projects" style="min-height: 450px">
    <h2 class="text-h4 primary--text font-weight-bold mb-14">
      Some things I have build
    </h2>
    <div class="projects">
      <the-project
        v-for="project in projects"
        :project="project"
        :key="project.id"
      ></the-project>

      <div
        class="d-flex justify-center mt-8"
        v-if="allProjects.length > highlightCount"
      >
        <v-btn to="projects" outlined color="accent"> View All </v-btn>
      </div>
    </div>
  </the-section>
</template>

<script>
import projects from '@/data/projects'

export default {
  name: 'TheProjects',
  data() {
    return {
      highlightCount: 3,
      allProjects: projects,
      projects: projects.filter((el) => el.highlight === true),
    }
  },
}
</script>
