<template>
  <v-app-bar
    app
    :class="{ transparent: isTransparent }"
    :flat="isTransparent"
    v-scroll="onScroll"
  >
    <v-toolbar-title>
      <nuxt-link to="/" title="Startseite" aria-label="Zur Startseite">
        <svg
          class="logo"
          style="vertical-align: middle"
          viewBox="0 0 64 64"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle
            cx="32"
            cy="32"
            r="30.5"
            fill="#00101E"
            stroke="#F5F5F5"
            stroke-width="3"
          ></circle>
          <g clip-path="url(#clip0)" fill="#F5F5F5">
            <path
              d="M20.419 15.968a9.634 9.634 0 0 0-8.054 4.355h-4.09a1.013 1.013 0 0 0 0 2.026h3.075a9.591 9.591 0 0 0-.567 3.255c0 5.313 4.322 9.636 9.636 9.636 5.313 0 9.635-4.323 9.635-9.636 0-5.313-4.322-9.636-9.635-9.636zm0 17.245c-4.196 0-7.61-3.413-7.61-7.61 0-4.195 3.414-7.609 7.61-7.609 4.195 0 7.609 3.414 7.609 7.61s-3.414 7.61-7.61 7.61zM55.767 20.323H51.2a9.634 9.634 0 0 0-8.057-4.354 9.637 9.637 0 0 0-8.183 4.556 4.029 4.029 0 0 0-5.113-1.06 1.013 1.013 0 0 0 .973 1.778 2.01 2.01 0 0 1 2.97 1.763c0 .069.006.136.02.201a9.62 9.62 0 0 0-.302 2.397c0 5.313 4.322 9.636 9.635 9.636 3.99 0 7.614-2.507 9.02-6.239a1.013 1.013 0 1 0-1.896-.714 7.649 7.649 0 0 1-7.124 4.927c-4.196 0-7.61-3.414-7.61-7.61 0-4.195 3.415-7.609 7.61-7.609a7.568 7.568 0 0 1 7.517 6.416 1.013 1.013 0 0 0 2.002-.315 9.564 9.564 0 0 0-.45-1.747h3.556a1.013 1.013 0 0 0 0-2.026z"
            ></path>
          </g>
          <g clip-path="url(#clip1)">
            <path
              d="M51.801 38.938a.722.722 0 0 0-.243-.502.73.73 0 0 0-1.025.078c-3.189 3.697-5.444 1.918-7.942-.057-1.893-1.499-3.905-3.092-6.56-3.092a6.185 6.185 0 0 0-2.584.55 5.47 5.47 0 0 0-1.436.96 5.472 5.472 0 0 0-1.437-.956 6.185 6.185 0 0 0-2.584-.55c-2.667 0-5.033 1.61-7.214 3.092-.72.493-1.424.97-2.09 1.351-1.902 1.089-3.606 1.413-5.108-1.162a.725.725 0 0 0-1.358.246 11.02 11.02 0 0 0 .087 3.836 6.18 6.18 0 0 0 2.32 3.725 8.369 8.369 0 0 0 3.997 1.503c2.16.23 4.343.092 6.457-.41a17.25 17.25 0 0 0 4.526-1.614 9.38 9.38 0 0 0 2.404-1.824 9.381 9.381 0 0 0 2.395 1.807c1.426.747 2.95 1.29 4.526 1.614 2.114.502 4.297.641 6.457.41a8.37 8.37 0 0 0 3.996-1.502 6.158 6.158 0 0 0 2.321-3.725c.25-1.245.282-2.523.095-3.779z"
              fill="#F5F5F5"
            ></path>
          </g>
          <defs>
            <clipPath id="clip0">
              <path
                fill="#fff"
                transform="translate(7.261 15.873)"
                d="M0 0h49.646v19.419H0z"
              ></path>
            </clipPath>
            <clipPath id="clip1">
              <path
                fill="#fff"
                transform="translate(11.99 35.293)"
                d="M0 0h40.021v12.834H0z"
              ></path>
            </clipPath>
          </defs>
        </svg>
      </nuxt-link>
    </v-toolbar-title>
    <v-spacer />
    <v-toolbar-items class="hidden-sm-and-down" v-if="showAnchors">
      <v-btn text @click="$vuetify.goTo('#about', options)">About</v-btn>
      <v-btn text @click="$vuetify.goTo('#projects', options)">Projects</v-btn>
      <v-btn text @click="$vuetify.goTo('#designs', options)">Designs</v-btn>
      <v-btn text @click="$vuetify.goTo('#technologies', options)"
        >Technologies</v-btn
      >
      <v-btn text @click="$vuetify.goTo('#contact', options)">Contact</v-btn>
    </v-toolbar-items>
    <v-toolbar-items>
      <v-btn text @click="changeDarkMode()" title="Switch Theme">
        <v-icon>{{ $vuetify.theme.dark ? icons.sun : icons.moon }}</v-icon>
      </v-btn>
    </v-toolbar-items>
  </v-app-bar>
</template>

<script>
import { mdiWhiteBalanceSunny, mdiMoonWaxingCrescent } from '@mdi/js'

export default {
  name: 'TheHeader',
  props: {
    showAnchors: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      icons: {
        sun: mdiWhiteBalanceSunny,
        moon: mdiMoonWaxingCrescent,
      },
      title: 'Vuetify.js',
      drawer: false,
      isTransparent: true,
      options: {
        offset: 75,
      },
    }
  },
  methods: {
    onScroll() {
      this.isTransparent = window.scrollY <= 0
    },
    changeDarkMode() {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark
      localStorage.setItem('darkMode', this.$vuetify.theme.dark.toString())
    },
  },
}
</script>

<style lang="scss">
@import '~vuetify/src/styles/styles.sass';

.logo {
  width: 38px;
  height: 38px;
  transition-duration: 0.28s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all;

  @media #{map-get($display-breakpoints, 'md-and-up')} {
    width: 48px;
    height: 48px;
  }
}
</style>
