<template>
  <div class="social d-flex">
    <v-btn
      icon
      x-large
      color="accent"
      v-for="media in socialMedia"
      :key="media.title"
      :href="media.url"
      :title="media.title"
      target="_blank"
    >
      <v-icon>{{ media.icon }}</v-icon>
    </v-btn>
  </div>
</template>

<script>
import sm from '@/data/social-media'

export default {
  name: 'TheSocialMedia',
  data() {
    return {
      socialMedia: sm,
    }
  },
}
</script>
