<template>
  <the-section
    id="about"
    class="d-flex flex-column flex-md-row justify-space-between align-center"
  >
    <div class="introduction order-1 order-md-0">
      <div class="text-h5 font-weight-bold primary--text">Hey everyone 👋</div>
      <div class="text-h4 font-weight-bold">My name is Julian Wendling</div>
      <div class="text--disabled font-weight-bold">
        I’m a Student at
        <span class="primary--text">Hochschule Hannover</span> in Germany.
        <br />
        My Major is a combination of
        <span class="primary--text">Design</span> and
        <span class="primary--text">Computer Science</span>.
        <the-social-media class="mt-5"></the-social-media>
      </div>
    </div>
    <transition appear appear-active-class="profile-picture-enter-active">
      <div class="me-image">
        <svg
          class="mustache"
          viewBox="0 0 101 33"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M100.067 9.42935C100.04 8.94576 99.8206 8.49258 99.4571 8.17139C98.6918 7.51895 97.5418 7.60659 96.8844 8.3673C88.8767 17.6474 83.2145 13.1826 76.9427 8.22294C72.1897 4.45936 67.1372 0.458611 60.4727 0.458611C58.2352 0.446238 56.0215 0.917718 53.9839 1.84031C52.6614 2.44867 51.4442 3.263 50.3779 4.25313C49.3111 3.26687 48.0939 2.45589 46.7719 1.85062C44.7343 0.928027 42.5206 0.456547 40.2831 0.468921C33.5876 0.468921 27.6465 4.51091 22.1702 8.23325C20.3621 9.4706 18.5952 10.6667 16.9213 11.6256C12.1477 14.3581 7.8701 15.1727 4.09875 8.70757C3.62784 7.82235 2.52692 7.48569 1.63988 7.95562C1.11912 8.23171 0.764715 8.74237 0.689029 9.32624C0.19772 12.5245 0.271081 15.7839 0.906011 18.9569C1.63755 22.6805 3.7105 26.0074 6.73353 28.3092C9.69404 30.4129 13.151 31.7134 16.7664 32.0831C22.1896 32.6615 27.672 32.3127 32.978 31.0519C36.9377 30.2379 40.7635 28.874 44.3437 26.9996C46.5895 25.8087 48.6273 24.2625 50.3779 22.4215C52.1254 24.246 54.156 25.778 56.3914 26.9584C59.9716 28.8327 63.7974 30.1966 67.7571 31.0107C73.0631 32.2715 78.5455 32.6203 83.9688 32.0418C87.5841 31.6719 91.0411 30.3717 94.0016 28.2679C97.0282 25.9695 99.1022 22.6411 99.8291 18.9157C100.457 15.7908 100.537 12.5815 100.067 9.42935Z"
            fill="#111111"
          />
        </svg>

        <img
          src="~/assets/me.jpeg"
          alt="Picture of me"
          rel="preload"
          loading="eager"
          class="profile-picture"
          ra
        />
      </div>
    </transition>
  </the-section>
</template>

<script>
export default {
  name: 'TheAbout',
}
</script>

<style lang="scss">
@import '~vuetify/src/styles/styles.sass';

.profile-picture-enter-active {
  @media #{map-get($display-breakpoints, 'md-and-up')} {
    animation: profile-picture 1s;
  }
}

@keyframes profile-picture {
  from {
    opacity: 0;
    padding: 10px;
    transform: scale(0.9) rotateZ(0deg);
  }
  to {
    opacity: 1;
    padding: 20px;
    transform: scale(1) rotateZ(10deg);
  }
}

#about {
  min-height: 572px;

  @media #{map-get($display-breakpoints, 'md-and-up')} {
    min-height: 622px;
  }
}

.mustache {
  position: absolute;
  width: 25px;
  transition-duration: 0.28s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all;
  margin: auto;
  left: 0;
  top: 23%;
  visibility: hidden;
  opacity: 0;
  transform: rotateZ(3deg);

  @media #{map-get($display-breakpoints, 'md-and-up')} {
    width: 35px;
    top: 23.5%;
  }
}

.me-image {
  padding: 10px;
  border: 3px solid var(--v-primary-base);
  border-radius: 16px;
  transition-duration: 0.28s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all;
  position: relative;
  display: flex;
  margin-bottom: 40px;

  @media #{map-get($display-breakpoints, 'md-and-up')} {
    padding: 20px;
    transform: rotateZ(10deg);
    margin: 60px;
  }

  &:hover {
    .mustache {
      left: 45%;
      opacity: 1;
      visibility: visible;
      @media #{map-get($display-breakpoints, 'md-and-up')} {
        left: 45%;
      }
    }
  }

  .theme--light & .profile-picture {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
      0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  }

  .theme--dark & .profile-picture {
    box-shadow: 0px 2px 4px -1px rgb(255 255 255 / 20%),
      0px 4px 5px 0px rgb(255 255 255 / 14%),
      0px 1px 10px 0px rgb(255 255 255 / 12%);
  }

  .profile-picture {
    border-radius: 16px;
    border: 3px solid white;
    width: 200px;
    backface-visibility: hidden;
    aspect-ratio: 285 / 449;

    @media #{map-get($display-breakpoints, 'md-and-up')} {
      width: 285px;
    }
  }
}
</style>
