<template>
  <v-footer :absolute="true" app>
    <span>&copy; {{ new Date().getFullYear() }} - Julian Wendling</span>
  </v-footer>
</template>

<script>
export default {
  name: 'TheFooter',
  data() {
    return {}
  },
}
</script>
