<template>
  <the-section
    id="contact"
    class="d-flex justify-center align-center"
    style="min-height: 450px"
  >
    <div>
      <h2 class="text-h3 mb-5 primary--text font-weight-bold">Get in touch</h2>
      <the-social-media class="justify-center"></the-social-media>
    </div>
  </the-section>
</template>

<script>
export default {
  name: 'TheContact',
}
</script>
