<template>
  <v-hover v-slot="{ hover }">
    <a
      :href="tech.url"
      :title="tech.name"
      :style="hover ? `filter: drop-shadow(0px 3px 5px ${tech.color})` : ''"
      class="technology mx-10 mb-8"
      target="_blank"
    >
      <img :src="image" :alt="tech.name + ' Logo'" loading="lazy" />
    </a>
  </v-hover>
</template>

<script>
export default {
  props: {
    tech: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {}
  },
  computed: {
    image() {
      if (!this.tech.image) return

      return require(`~/assets/technologies/${this.tech.image}`)
    },
  },
}
</script>

<style lang="scss">
@import '~vuetify/src/styles/styles.sass';

.technology {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.28s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all;

  &:hover {
    transform: scale(1.06) translateY(-5px);
  }

  img {
    width: 60px;
    aspect-ratio: 1 / 1;
    object-fit: contain;

    @media #{map-get($display-breakpoints, 'md-and-up')} {
      width: 120px;
    }
  }
}
</style>
