<template>
  <the-section id="technologies">
    <h2 class="text-h4 primary--text font-weight-bold mb-14">
      Technologies I've worked with
    </h2>

    <div class="technologies">
      <the-technology
        v-for="technology in technologies"
        :key="technology.id"
        :tech="technology"
      ></the-technology>
    </div>
  </the-section>
</template>

<script>
import technologies from '@/data/technologies'

export default {
  name: 'TheTechnologies',
  data() {
    return {
      technologies: technologies,
    }
  },
}
</script>

<style lang="scss">
@import '~vuetify/src/styles/styles.sass';

.technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media #{map-get($display-breakpoints, 'md-and-up')} {
    min-height: 400px;
  }
}
</style>
