// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

@import '~vuetify/src/styles/styles.sass';

.container {
  @media #{map-get($display-breakpoints, 'xl-only')} {
    max-width: 1185px;
  }
}

.theme--dark {
  &.v-application .text--disabled {
  }
}

.theme--light {
  &.v-application .text--disabled {
    color: rgba(0, 0, 0, 0.6) !important;
  }
}
