<template>
  <div class="all-designs">
    <h1 class="mb-14 primary--text">Designs</h1>
    <the-design
      v-for="design in designs"
      :key="design.id"
      :design="design"
    ></the-design>
  </div>
</template>

<script>
import designs from '@/data/designs'

export default {
  head: {
    title: 'Designs',
  },
  layout: 'works',
  data() {
    return {
      designs: designs,
    }
  },
}
</script>
