<template>
  <v-app dark>
    <the-header></the-header>
    <v-main>
      <v-container>
        <v-alert
          v-if="alert.active"
          dense
          text
          :icon="alert.icon"
          :type="alert.type"
        >
          {{ alert.text }}
        </v-alert>

        <Nuxt />
      </v-container>
    </v-main>
    <the-footer></the-footer>
  </v-app>
</template>

<script>
import alert from '@/data/alert'

export default {
  name: 'DefaultLayout',
  data() {
    return {
      alert: alert,
    }
  },
  mounted() {
    setTimeout(() => {
      if (localStorage.getItem('darkMode')) {
        this.$vuetify.theme.dark = localStorage.getItem('darkMode') === 'true'
      } else {
        this.$vuetify.theme.dark = window.matchMedia(
          '(prefers-color-scheme: dark)'
        ).matches
      }
    }, 1)
  },
}
</script>
