<template>
  <div class="sections">
    <the-about></the-about>
    <the-projects></the-projects>
    <the-designs></the-designs>
    <the-technologies></the-technologies>
    <the-contact></the-contact>
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
}
</script>
